// Colors

$primary-color: var(--primary-color);
$accent-color: var(--accent-color);
$warn-color: var(--warn-color);
$white-color: #eee;
$back-color: #575757;

$icon-colors: #575756;
$icon-colors-background: #eee;
$shadow-color: #575756;
$background-color: $accent-color;

