<app-alert [alert]="alert" ></app-alert>
<div class="login-container">
    <mat-card class="example-card" color="primary">
        <mat-card-header>
            <div mat-card-avatar class="mat-card-avatar">
                <mat-icon>electrical_services</mat-icon>
            </div>
            <mat-card-title>Iniciar sesión</mat-card-title>
            <mat-card-subtitle matRipple>
                Solicita acceso
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>Al iniciar sesión podras pagar y gestionar todas tus facturas.</p>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit($event)">                
                <app-text [form]="loginForm" [control]="emailControl"></app-text> 
                <app-text [form]="loginForm" [control]="passwordControl"></app-text>                
            </form>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button (click)="onSubmit($event)" [ngClass]="{'on-submit-click': onSubmitClick}">
                <mat-spinner *ngIf="onSubmitClick" class="mat-spinner-login" diameter="18" color="'Secondary'"></mat-spinner> 
                <span>Aceptar</span>
            </button>
            <button mat-button (click)="pop.close()">
                <span>Cancelar</span>
            </button>
        </mat-card-actions>
    </mat-card>
</div>