.login-container {
    background-color: $background-color;
    .mat-card {
        // background-color: $background-color;
        border-radius: 0.3rem;
        color: $primary-color;
      }

    .example-card{
        max-width: 400px;
    }
    .mat-card-avatar .mat-icon{
        font-size: 52px;
    }
    .mat-card {
        box-shadow: none;
    }
    .mat-card-subtitle{
        cursor: pointer;
        text-align: center;
        border-radius: 4px;
    }

    .mat-card-subtitle:hover{
        background-color: var(--status-bar-color);
    }

    .mat-card-content{
        text-align: center;
    }

   
    .mat-button-base:focus{
        outline: 0px auto -webkit-focus-ring-color;
    }

    .on-submit-click {
        .mat-spinner{
            position: absolute;
            bottom: 10px;
            left: -5px;
            .mat-spinner circle {
                stroke: var(--danger);
            }
        }
    }   
} 

.login-container ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
    stroke: var(--danger);
}
  