<ng-container *ngIf="loadingSubject$ | async">
    <div class="spinner-container">
        <div class="spinner d-flex align-items-center justify-content-center">
            <ng-container *ngFor="let item of [0,1,2,3,4,5,6,7,8]">
                <div class="spinner-grow" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </ng-container>
        </div>
    </div>
</ng-container>
