<form *ngIf="form" [formGroup]="form">
    <mat-form-field class="example-full-width">
        <input matInput type="{{control.type}}" placeholder="{{control.placeholder}}" formControlName="{{control.name}}"
            autofocus [ngClass]="getValidClassText()">
        <span class="invalid-feedback">
            <span *ngIf="errorsRequiredText()">
                {{control.label}} es un campo requerido
            </span>
        </span>
        <span class="invalid-feedback">
            <span *ngIf="errorsMaxLengthText()">
                Longitud maxima permitida para {{control.label}} es: {{ errorsMaxLengthText()['requiredLength'] }} caracteres
            </span>
        </span>
        <span class="invalid-feedback">
            <span *ngIf="errorsMimLengthText()">
                Longitud minima permitida para {{control.label}} es: {{ errorsMimLengthText()['requiredLength'] }} caracteres
            </span>
        </span>
        <span class="invalid-feedback">
            <span *ngIf="errorsPatternText()">
                Este campo no admite caracteres especiales
            </span>
        </span>
        <span class="invalid-feedback">
            <span *ngIf="errorsEmail()">
                {{control.label}} aún no tiene la forma de email
            </span>
        </span>
    </mat-form-field>
</form>