.login-container {
  background-color: var(--accent-color);
}
.login-container .mat-card {
  border-radius: 0.3rem;
  color: var(--primary-color);
}
.login-container .example-card {
  max-width: 400px;
}
.login-container .mat-card-avatar .mat-icon {
  font-size: 52px;
}
.login-container .mat-card {
  box-shadow: none;
}
.login-container .mat-card-subtitle {
  cursor: pointer;
  text-align: center;
  border-radius: 4px;
}
.login-container .mat-card-subtitle:hover {
  background-color: var(--status-bar-color);
}
.login-container .mat-card-content {
  text-align: center;
}
.login-container .mat-button-base:focus {
  outline: 0px auto -webkit-focus-ring-color;
}
.login-container .on-submit-click .mat-spinner {
  position: absolute;
  bottom: 10px;
  left: -5px;
}
.login-container .on-submit-click .mat-spinner .mat-spinner circle {
  stroke: var(--danger);
}

.login-container ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
  stroke: var(--danger);
}

/*# sourceMappingURL=access_login.css.map */
