.example-spacer {
  flex: 1 1 auto;
}

.mat-toolbar.mat-toolbar-single-row {
  color: var(--primary-color);
  background-color: var(--accent-color);
  height: 56px !important;
}

.mat-toolbar-menu .app-tittle {
  margin-right: 15px;
}
.mat-toolbar-menu .mat-button-base:focus {
  outline: 0px auto -webkit-focus-ring-color;
}
.mat-toolbar-menu .mat-button-acount, .mat-toolbar-menu .app-tittle {
  font-weight: 400;
}

/*# sourceMappingURL=header_toolbar.css.map */
