.spinner-container {
  color: var(--primary-color);
  position: fixed;
  width: 100%;
  right: 0;
  left: 0;
  top: 0;
  height: 100%;
  z-index: 2000;
  background-color: #6a596b;
  opacity: 0.5;
}
.spinner-container .spinner {
  position: relative;
  top: 50%;
}
.spinner-container .spinner-active {
  display: block;
}
.spinner-container .spinner-grow {
  margin-right: 0.2em;
}

/*# sourceMappingURL=loading.css.map */
