<section [class]="appService.theme">
    <app-toolbar></app-toolbar>
    <router-outlet></router-outlet>
</section>
<app-snackbar [class]="appService.theme"></app-snackbar>
<app-loading [class]="appService.theme" ></app-loading>