.example-spacer {
    flex: 1 1 auto;
}

.mat-toolbar.mat-toolbar-single-row{
  color: $primary-color;
  background-color: $background-color;
  height: 56px !important;
}

.mat-toolbar-menu {
  .app-tittle {
    margin-right: 15px;
  }
  
  .mat-button-base:focus{
    outline: 0px auto -webkit-focus-ring-color;
  }

  .mat-button-acount, .app-tittle{
    font-weight: 400;
  }
}