<mat-toolbar class="mat-toolbar-menu" color="accent">
    <span class="app-tittle"> {{appService.app?.name | uppercase }}</span>
    <span class="app-tittle"> {{appService.app?.description | uppercase }}</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with account icon"
        matTooltip="Notificaciones">
        <mat-icon>notifications</mat-icon>
    </button>
    <button mat-button color="primary" class="mat-button-acount" [autoClose]="'outside'" [ngbPopover]="popContent"
        #pop="ngbPopover">
        MI CUENTA
    </button>
    <ng-template #popContent>
        <ng-container *ngIf="authService.user; else loginContent">
            <app-user-profile [pop]="pop" (optionEvent)="optionEvent()"></app-user-profile>
        </ng-container>
        <ng-template #loginContent>
            <app-login [pop]="pop" (optionEvent)="optionEvent()"></app-login>
        </ng-template>
    </ng-template>
</mat-toolbar>