/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import "~@angular/material/theming";
@import "./assets/themes/theme-init.scss";

.indigo-theme {
    @import "./assets/themes/indigo-theme.scss";
    @include angular-material-theme($indigo-theme);
    @include generate-theme-vars($indigo-theme);
}

.yellow-theme {
    @import "./assets/themes/yellow-theme.scss";
    @include angular-material-theme($yellow-theme);
    @include generate-theme-vars($yellow-theme);
}
