<ngb-alert *ngIf="alert" [type]="alert.type" (close)="close($event)">
    <div>
      <strong>{{alert.title}}!</strong>
      <span>
        {{alert.message}}
      </span>
      <span class="spinner-content" *ngIf="alert.load">
        <span *ngIf="alert.messageLoad">
          {{alert.messageLoad}}
        </span>
        <div class="spinner-grow" role="status">
          <span class="sr-only">Loading...</span>
        </div>
        <ng-container *ngFor="let item of [0,1,2,3,4,5,6]">
          <div class="spinner-grow" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </ng-container>
      </span>
  
    </div>
  </ngb-alert>
  