.alert-dismissible {
    padding-right: 3rem;
  }
  
  .alert>div {
    display: inline-grid;
    width: 100%;
  }
  
  .spinner-content {
    text-align: center;
  }
  
  .spinner-grow {
    width: 1.2rem;
    height: 1.2rem;
    margin-right: 0.2em;
  }
  