
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and indigoer
// hue. Available color palettes: https://material.io/design/color/
$indigo-primary: mat-palette($mat-indigo);
$indigo-accent:  mat-palette($mat-indigo, 100);

// The warn palette is optional (defaults to red).
$indigo-warn:    mat-palette($mat-indigo,900);

// Create the theme object (a Sass map containing all of the palettes).
$indigo-theme: mat-light-theme($indigo-primary, $indigo-accent, $indigo-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($indigo-theme);
