// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and yellower
// hue. Available color palettes: https://material.io/design/color/
$yellow-primary: mat-palette($mat-amber,100);
$yellow-accent:  mat-palette($mat-amber, 400);

// The warn palette is optional (defaults to red).
$yellow-warn:    mat-palette($mat-amber,100);

// Create the theme object (a Sass map containing all of the palettes).
$yellow-theme: mat-dark-theme($yellow-primary, $yellow-accent, $yellow-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($yellow-theme);
